table, th, td {
    border: 1px solid #0000ff;
    border-collapse: collapse;
    text-align: center;
}

th {
   background-color:cornflowerblue;
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    font-family: Roboto, sans-serif;
    margin: 100px;
}

.navbar_acc-avt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -4px;
}

.navbar_acc-name {
    color: white;
    margin-left: 10px;
    margin-right: 50px;
}

.nabar_acc-menu {
    margin-right: 40px;
}

ul li:hover {
    cursor: pointer;
}

ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: white;
  margin-right: 10px;
  display: block; 
  box-shadow: 0 1px 2px #e0e0e0;
}

ul li ul li:hover {background: #e0e0e0;list-style: none;text-decoration: none;}
